%th{ data: { attribute: "name" }}
  = t "activerecord.attributes.paa/financial_source.name"
%th{ data: { attribute: "year" }}
  = t "activerecord.attributes.paa/saving.year"
%th{ data: { attribute: "trimester" }}
  = t "activerecord.attributes.paa/saving.trimester"

