.container
  .row
    .col-xs-7.col-sm-4.col-md-3
      = image_tag("indicators/sabias-que.png", class: "img-responsive")
    .col-xs-12.col-sm-8.col-md-9
      %h1.general-indicator
        Sabés que...
      %p.content-indicator
        Es un espacio de la Secretaría de Participación, Transparencia y Anticorrupción de la Presidencia de El Salvador en el que se encuentra  información sobre la realidad nacional  y los resultados del accionar de las instituciones públicas.

        Este portal tiene como tarea la difusión de datos de fácil lectura que contribuyan a que la ciudadanía conozca sobre la situación del país y se involucre en la definición de políticas públicas orientadas al logro del buen vivir.

        La información está trabajada para que cualquier persona, sin necesidad de tener altos conocimientos sobre el tema, pueda comprender los datos.

        El portal cuenta con datos sobre: desempeño de la economía, inversión pública, gasto social, pensiones, finanzas públicas, educación, salud, empleo, pobreza y desigualdad, entre otros. 