.container
  .row
    .col-xs-7.col-sm-4.col-md-3
      = image_tag("indicators/sabias-que.png", class: "img-responsive")
    .col-xs-12.col-sm-8.col-md-9
      %h1.general-indicator
        ¿De qué se trata este portal?
      %p.content-indicator.about-general
        Es un espacio de la Secretaría de Participación, Transparencia y Anticorrupción de la Presidencia de El Salvador en el que se encuentra  información sobre la realidad nacional  y los resultados del accionar de las instituciones públicas.
        %br
        %br
        Este portal tiene como tarea la difusión de datos de fácil lectura que contribuyan a que la ciudadanía conozca sobre la situación del país y se involucre en la definición de políticas públicas orientadas al logro del buen vivir.
        %br
        %br
        La información está trabajada para que cualquier persona, sin necesidad de tener altos conocimientos sobre el tema, pueda comprender los datos.
        %br
        %br
        El portal cuenta con datos sobre: desempeño de la economía, inversión pública, gasto social, pensiones, finanzas públicas, educación, salud, empleo, pobreza y desigualdad, entre otros. 