.container
  .row
    .col-xs-7.col-sm-4.col-md-3
      = image_tag("indicators/sabias-que.png", class: "img-responsive")
    .col-xs-12.col-sm-8.col-md-9
      %h1.general-indicator
        = @indicator.title
      %p.content-indicator
        = @indicator.content.html_safe