= f.text_field :name, class: 'form-control', required: true

- unless @products.empty?
  %br
  %br
  %table.table.table-hover.table-striped.simple-data-table
    %thead
      %tr
        %th{ width: '20%' } Código
        %th{ width: '50%' } Producto
        %th{ width: '30%' } Existencias
    %tbody
      - @products.each do |product|
        %tr
          %td
            = product.code
          %td
            = product.name
          %td
            = product.stock @item
