// Place all the styles related to the Forum::Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.problem-title{
  font-family: "Montserrat";
  font-size: 6em;
  text-align: center;
  color: #fff;
}

h2{
  font-family: "Montserrat";
  font-size: 24px;
  color: #33495E;
  text-align: center;
}

h2.problem-description{
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
}

p.pensions-calc{
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  padding: 35px 25px;
}

p.subject{
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding: 30px 0 0;
  margin: 0;
}

.wrapper-wage-video{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
}

#wrapper-positions{
  background: #EEEEEF;
  padding: 30px 0;
}

p.description-topic{
  font-family: "Dosis";
  text-align: center;
}

.play-video{
  display: block;
  text-align: center;
  margin: 30px 0 50px;
}
.go-to-positions{
  display: block;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.blue-slide-bg, .sky-slide-bg{
  padding: 20px 25px 30px;
}

.blue-slide-bg{
  background: #8AC4F4;
}

.sky-slide-bg{
  background: #86E2D5;
}

.btn-custom-reply{
  border-color: #b85b28;
  border-image: none;
  border-style: solid;
  border-width: 2px 2px 6px;
  font-size: 2em;
  padding: 18px 0;
  width: 100%;
  font-weight: bold;
}

li.slide{
  text-align: center;
  p.quote{
    text-align: left;
  }
  a.source{
    border: 1px solid #fff;
    color: #fff;
    display: table;
    margin: 15px auto;
    padding: 5px;
    width: 100%;
    max-width: 100px;
  }
}

li.slide:hover{
  background: #F7CA17;
}

.charts-description, .calc-description{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.charts-description{  
  .well.graphic-legend{
    background: #fff;
    margin-bottom: 0px;
    padding: 10px 20px;

    h2.chart{
      font-family: "Dosis", sans-serif;
      font-size: 20px;
      text-align: left !important;
      line-height: 1.5;
      margin: 10px 0 !important;
    }
  }

}

.current-system-cons{
  span{
    color: #5CB85C;
    font-size: 26px;
    font-weight: bold;
  }
  .data-current-system-cons{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    .custom-row-data{
      min-height: 20px;
      .normal-well{
        display: inline-block;
        height: inherit;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #F5F5F5;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
        width: 77%;
        margin-right: 1%;
        float: left;
        height: 70px;
      }
      .green-well{
        display: inline-block;
        height: inherit;
        padding: 14px;
        margin-bottom: 20px;
        background-color: #95CA46;
        border: 1px solid #88BF44;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
        width: 22%;
        float: left;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        text-align: left;
        height: 70px;
        vertical-align: middle;
        span{
          font-size: 16px;
          color: inherit;
        }
      }
    }
  }
}

p.calc-description{
  font-size: 16px;
  color: #333;
  text-align: center;
  padding: 30px 0 10px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.datetime-select {
  display: inline-block;
  width: auto;
}

.header-calc-bg{
  background: #88C100;
  padding: 10px 10px 20px;
  text-align: center;
  margin: 0px;
  border-bottom: 7px solid #82B800;
  h1{
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    color: #fff;
    margin: 10px 0 15px;
    text-transform: uppercase;
  }
  h2{
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: #fff; 
    margin: 0;  
  }
}

.btn-calculate {
  border: 1px solid white;
  width: 100%;
}

#results{
  padding: 20px 0;
  background: #fafafa;
  h2{
    font-family: "Dosis", sans-serif;
    text-align: center;
    margin-bottom: 45px;
  }
}

.canvas-holder{
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 60px;
  .percentage-value{
    position: absolute; 
    width: 100px; 
    height: 50px; 
    font-size: 30px; 
    font-weight: bold; 
    right: 0; 
    top: 35%;
  }
  .chart-current-system, .chart-new-system, .chart-title-current-system, .chart-title-new-system{
    position: absolute;
    width: 105px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
  }
  .chart-current-system{
    top: 50%;
    left: 19%;
  }
  .chart-new-system{
    top: 50%;
    right: 16%;
  }
  .chart-legend-current-system{
    position: absolute;
    width: 230px;
    bottom: 5%;
    left: 0px;
    height: 50px;
    font-size: 11px;
    color: #666;
    text-align: left;
  }
  .chart-legend-new-system{
    position: absolute;
    width: 230px;
    bottom: 5%;
    right: 0px;
    height: 50px;
    font-size: 11px;
    color: #666;
    text-align: left;
  }
  .chart-title-current-system, .chart-title-new-system{
    top: -5%;
    font-size: 14px;
  }
  .chart-title-current-system{
    left: 18%;
  }
  .chart-title-new-system{
    right: 15%;
  }
}
.chart-special-legend{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-size: 14px;
  width: auto;
  text-align: left;
  padding-left: 20px;
}

.graphic-legend{
  background: #fff;
  min-height: 100px;
}

.items{
  display: table-row;
  .color-item-gray, .text-item, .color-item-green, .color-item-total, .color-item-fraction{
    margin: 10px;
    padding-right: 10px;
    display: table-cell;
  }
  .color-item-gray, .color-item-green, .color-item-total, .color-item-fraction{
    width: 40px;
    height: 10px !important;
    padding-right: 10px;
    display: table-cell;
    .square{
      width: 40px;
      height: 40px;
    }
  }
  .color-item-gray{
    .square{
      background: rgba(220,220,220,0.5);
    }
  }
  .color-item-green{
    .square{
      background: rgba(128,185,66,0.7);
    }
  }
  .color-item-total{
    .square{
      background: #46BFBD;
    }
  }
  .color-item-fraction{
    .square{
      background: #F7464A;
    }
  }
  .text-item{
    vertical-align: top;
  }
  .item-description{
    vertical-align: middle;
    display: table-cell;
  }
}
p.dollar-values{
  margin-top: 15px;
  font-size: 11px;
}
              
table.table.table-bordered.table-striped{
  td.value{
    width: 30%;
    text-align: right;
    font-size: 16px;
  }
  td.data-info{
    width: 70%; 
  }
}           

.error{
  color: #D9534F;
}

@media (max-width: 960px) {
  .canvas-holder{
    .chart-current-system, .chart-new-system{
      font-size: 16px;
    }
    .chart-current-system{
      top: 45%;
      left: 15%;
    }
    .chart-new-system{
      top: 45%;
      right: 10%;
    }
    .chart-legend-new-system, .chart-legend-current-system{
      width: 160px;
    }
  }
}

h2.analysis-title{
  font-family: "Dosis", sans-serif;
  color: #5CB85C;

}

.img-analysis{
  display: block;
  margin: 0 auto;
  text-align: center;
}

p.analysis{
  text-align: center;
  padding: 20px 15px;
}

@media (max-width: 800px) {
  .canvas-holder{
    .chart-current-system, .chart-new-system{
      font-size: 16px;
    }
    .chart-current-system{
      top: 55%;
      left: 15%;
    }
    .chart-new-system{
      top: 55%;
      right: 14%;
    }
    .chart-legend-new-system, .chart-legend-current-system{
      width: 190px;
    }
  }
  p.pensions-calc{
    padding: 22px 25px;
  }
}


@media (max-width: 720px) {
  h1.problem-title{
    font-size: 4em;
  }

  h2{
    font-size: 20px;
  }

  h2.problem-description{
    font-size: 20px;
  }

  p.subject{
    font-size: 20px;
  }

  .wrapper-wage-video{
    height: 700px;
  }


}

@media (max-width: 480px) {
  .wrapper-wage-video{
    height: 770px;
  }
  .canvas-holder{
    .chart-current-system, .chart-new-system{
      font-size: 16px;
    }
    .chart-current-system{
      top: 50%;
      left: 15%;
    }
    .chart-new-system{
      top: 50%;
      right: 14%;
    }
    .chart-legend-new-system, .chart-legend-current-system{
      width: 160px;
      bottom: 8%;
    }
  }
  .current-system-cons{
    .data-current-system-cons{
      .custom-row-data{
        .green-well{
          padding: 14px 0;
          font-size: 16px;
          text-align: center;
          span{
            font-size: 14px;
            color: inherit;
          }
        }
      }
    }
  }

}

