- if flash[:notice]
  .alert.alert-info.alert-dismissible{ role: 'alert' }
    = flash[:notice]
    = button_tag class: 'close', data: { dismiss: 'alert' } do
      &times;
- if @errors.any?
  .alert.alert-danger.alert-dismissable{ role: 'alert'}
    = button_tag class: 'close', data: { dismiss: 'alert' } do
      &times;
    %ul
      - @errors.each do |msg|
        %li
          = msg
