%th{ 'data-attribute' => 'object.name' }
  = t 'activerecord.attributes.deleted_element.object_name'
%th{ 'data-attribute' => 'item_type' }
  = t 'activerecord.attributes.deleted_element.item_type'
%th{ 'data-attribute' => 'created_at' }
  = t 'activerecord.attributes.deleted_element.deleted_at'
