%th{ 'data-attribute' => 'timeline_date' }
  = t 'activerecord.attributes.cns_timeline.timeline_date'
%th{ 'data-attribute' => 'name' }
  = t 'activerecord.attributes.cns_timeline.name'
%th{ 'data-attribute' => 'url' }
  = t 'activerecord.attributes.cns_timeline.url'
