%ul#mini-nav.hidden-xs
  %li.arrow-box.list-box
    %a{:href => "#"}
      %i.icon-reorder.text-warning
  %li.dropdown.list-box
    %a#drop5.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
      %i.icon-th.text-success
    %ul.dropdown-menu.animated.fadeInLeft.quick-actions
      %li.plain Quick Actions
      %li
        %a{:href => "profile.html"}
          %i.icon-user.text-info
        %p Profile
      %li
        %a{:href => "login.html"}
          %i.icon-signin.text-warning
        %p Login
      %li
        %a{:href => "typography.html"}
          %i.icon-font.text-facebook
        %p Typography
      %li
        %a{:href => "maps.html"}
          %i.icon-globe.text-gplus
        %p Maps
      %li
        %a{:href => "graphs.html"}
          %i.icon-dashboard.text-danger
        %p Graphs
      %li
        %a{:href => "invoice.html"}
          %i.icon-file-text.text-success
        %p Invoice
  %li.dropdown.list-box
    %a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
      %i.icon-bar-chart.text-danger
    %ul.dropdown-menu.flipInX.animated.browser-stats
      %li.plain
        Browser Stats
        %span.btn.btn-danger.btn-sm 5
      %li
        .icon
          %img{:alt => "Browser", :src => "img/browsers/chrome.png"}/
        .details
          %strong.text-danger
            Chrome
            %span 55.7 %
          %span Google Chrome is the world's most used browser today.
      %li
        .icon
          %img{:alt => "Browser", :src => "img/browsers/firefox.png"}/
        .details
          %strong.text-danger
            Firefox
            %span 26.9 %
          %span Firefox is a free, open-source web browser from Mozilla.
      %li
        .icon
          %img{:alt => "Browser", :src => "img/browsers/ie.png"}/
        .details
          %strong.text-info
            Internet Explorer
            %span 10.2 %
          %span Internet Explorer is a free web browser from Microsoft.
      %li
        .icon
          %img{:alt => "Browser", :src => "img/browsers/safari.png"}/
        .details
          %strong.text-info
            Safari
            %span 3.9 %
          %span Safari is known for its sleek design and ease of use.
      %li
        .icon
          %img{:alt => "Browser", :src => "img/browsers/opera.png"}/
        .details
          %strong.text-danger
            Opera
            %span 1.8 %
          %span The Opera browser is free, and it is the smallest and fastest browser in the world!
  %li.dropdown.list-box
    %a#drop3.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
      %i.icon-envelope-alt.text-info
      %span.count-label.count-lb-blue
    .dropdown-menu.animated.flipInY.featured-articles
      .articles
        %a{:href => "#"}
          %span.label-bullet
            \&nbsp;
          Raw denim you probably
          %span.date 12th Jan @1:45am / 8 Comments
        %a{:href => "#"}
          %span.label-bullet
            \&nbsp;
          Skateboard dolor brunch
          %span.date 11th Jan @11:19am / 15 Comments
        %a{:href => "#"}
          %span.label-bullet
            \&nbsp;
          accusam / 3 Commentsus terry richardson
          %span.date 10th Jan @8:12am / 13 Comments
/ Mini Nav Left End
/ Mini Nav Right Start
%ul#mini-nav-right
  %li.list-box.hidden-xs
    %a{:href => "login.html"}
      %i.icon-signout
  %li.list-box.hidden-xs
    %a.sb-open-right.sb-close{:href => "#"}
      %i.icon-user.text-warning
  %li#mob-nav.list-box.hidden-lg.hidden-md.hidden-sm
    %a{:href => "#"}
      %span Menu
      %i.icon-reorder
/ Mini Nav Right End
/ Stats Start
%ul.stats.hidden-xs.hidden-sm
  %li
    %span#currentSale.graph
    .details
      %span#sales-x.big 3395
      %span.small Sales
  %li
    %span#currentBalance.graph
    .details
      %span#income-y.big 5578
      %span.small Income
