@font-face {
  font-family: 'icons';
  src: font-url('icons/www/icons.eot?7hhok8');
  src: font-url('icons/www/icons.eot?#iefix7hhok8') format('embedded-opentype'),
       font-url('icons/www/icons.woff?7hhok8') format('woff'),
       font-url('icons/www/icons.ttf?7hhok8') format('truetype'),
       font-url('icons/www/icons.svg?7hhok8#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-arrow:before {
	content: "\e600";
}
.icon-check:before {
	content: "\e601";
}
.icon-comment:before {
	content: "\e602";
}
.icon-coords:before {
	content: "\e603";
}
.icon-doc:before {
	content: "\e604";
}
.icon-edit:before {
	content: "\e605";
}
.icon-graph:before {
	content: "\e606";
}
.icon-justice:before {
	content: "\e607";
}
.icon-mail:before {
	content: "\e608";
}
.icon-mehaphone:before {
	content: "\e609";
}
.icon-play:before {
	content: "\e60a";
}
.icon-prize:before {
	content: "\e60b";
}
.icon-search:before {
	content: "\e60c";
}
.icon-twitter:before {
	content: "\e60d";
}
.icon-user:before {
	content: "\e60e";
}
