<p>Gracias por ingresar al Sistema de Empleos Públicos.</p>
<p>Para confirmar su correo, por favor, dé clic al siguiente enlace.</p>
<br>
<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token, domain: 'empleospublicos.gob.sv') %></p>
<br>
<p>Luego, llene su CV y aplique a la plaza de su interés.</p>
<p>No olvide poner:</p>
<ol>
  <li>Todos sus datos personales.</li>
  <li>Toda la formación académica con la que cuenta</li>
  <li>Al menos una referencia personal (puede agregar todas las referencias laborales que desee, pero NO debe de faltar una referencia PERSONAL).</li>
</ol>
<br>
<p>Si tiene dudas, escriba al correo <a href="mailto:empleospublicos@presidencia.gob.sv">empleospublicos@presidencia.gob.sv</a></p>
<p>Un cordial saludo.</p>
<br>
<p>Secretaría de Participación, Transparencia y Anticorrupción</p>
