.row
  - counter = 0
  - @channel.videos.each do |video|
    .col-xs-12.col-sm-6.col-md-4
      %iframe{ width: '100%', height: '250', src: "https://www.youtube.com/embed/#{video.id}", frameborder: 0, allowfullscreen: true }

      %h4
        = video.title

      %p
        = video.description.truncate(200, separator: ' ')
    - counter += 1
    - break if counter == 3
