@font-face {
  font-family: 'ga-icons';
  src: font-url('ga-icons.eot?7hhok8');
  src: font-url('ga-icons.eot?#iefix7hhok8') format('embedded-opentype'),
       font-url('ga-icons.woff?7hhok8') format('woff'),
       font-url('ga-icons.ttf?7hhok8') format('truetype'),
       font-url('ga-icons.svg?7hhok8#ga-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ga-icon-"], [class*=" ga-icon-"] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'ga-icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.ga-icon-logo:before {
	content: "\e600";
}
