/*
@import 'theme/bootstrap';
@import 'theme/login';
@import 'theme/animate';
*/
@import 'admin/icons';

body {
  background: #333;
}

.logo {
  display: block;
}

.ga-icon-logo {
  display: block;
  font-size: 3em;
}
