action_mailer:
  delivery_method: 'method'
  smtp_settings:
    address: 'address'
    port: 'port'
    domain: 'domain'
    authentication: 'auth'
    enable_starttls_auto: true
    user_name: 'username'
    password: 'password'

modules:
  ta:
  - articles
  - categories
  - pages
  - authors
  - comments
  inv:
  - products
  - warehouses
  - product_movements
  - units
  req:
  - requirements

sapt:
  username: 'test'
  password: 'test'
  grant_type: 'test'
