%h2
  = t("layouts.consulta.categories_title")
.categories
  - unless @categories.blank?
    %ul.category-lists
      - @categories.each_with_index do |category, i| 
        %li
          = link_to category.name, consulta_cns_category_path(category)
  - else
    %h3
      = t("layouts.consulta.no_categories")