.container-fluid.main-content
  .row
    .col-md-2.col-md-offset-2.left-side-menu
      %ul
        %li=1
        %li=2
        %li=3
        %li=4
        %li=5
    .col-md-6
      %ul
        - @categories.each_with_index do |category, i|
          %li
            = link_to category.name, consulta_cns_category_path(category)
            = category.description.truncate(150, omission: '...')