%section.main-indicators
  .container
    .row
      .col-xs-12.col-sm-4.col-md-3.did-you-know
        = image_tag("indicators/sabias-que.png", class: "img-responsive")
      .col-xs-12.col-sm-8.col-md-9
        #wrapper-indicators
          %ul#lightSlider
            - @indicator_categories.each_with_index do |category, i|
              %li.slide{ style: "background: #{category.color.nil? ? '#005F9E' : category.color}" }
                .slide-content
                  %h3.title-indicator
                    = link_to category.name, indicators_general_index_url
                  %p.quote
                    = category.description
