// dataTable
@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';

// bootstrap
@import 'bootstrap-sprockets';
@import 'admin/bootstrap-vars';
@import 'bootstrap';
@import 'jquery.tagsinput';
@import 'dropzone/basic';

body {
  margin-top: 50px;
}

.table {
  tr {
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:last-child {
        width: 1%;
      }
    }
  }
}
