// dataTable
@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';

// bootstrap
@import 'bootstrap-sprockets';
@import 'admin/bootstrap-vars';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'jquery.tagsinput';
@import 'rails_bootstrap_forms';
@import 'select2';
@import 'select2-bootstrap';

body {
  margin-top: 50px;
}

.datetime-select {
  display: inline-block;
  width: auto;
}

.table {
  tr {
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:last-child {
        width: 1%;
      }
    }
  }
}

.table-small {
  font-size: 9px;
}

.form-gallery {
  padding-bottom: 20px;
  padding-top: 20px;

  .image {
    position: relative;

    input {
      display: none;
    }
  }

  a {
    &.remove_nested_fields {
      position: absolute;
      right: 15px;
      top: 5px;
    }

    &.add_nested_fields {
      background: #f2f2f2;
      color: #ccc;
      font-size: 50px;
      height: 100px;
      line-height: 100px;
      width: 100%;
    }
  }

  img {
    height: 166px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.text_form {
  padding-top: 7px;
}

#payroll-views {
  .level-0 td {
    background: #ddd;
    font-weight: bold;
  }

  .level-1 td:first-child {
    font-weight: bold;
    padding-left: 3em;
  }

  .level-2 td:first-child {
    padding-left: 6em;
  }
}
