@import 'bootstrap-sprockets';
@import 'goverment_services/bootstrap-vars';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'jssocials';
@import 'jssocials-theme-classic';
@import 'timeline-alt';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$white: #fff;
$dark-blue: #343980;
$sky-blue: #00b5ff;
$gray: #333;
$light-red: #cd4c30;
$timeline: #29abe2;
$main-title: #0071bc;

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

.img-responsive {
  margin: 0 auto;
}

.title-description {
  color: $white;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: 1px 1px $gray;
}

.title-descriptions {
  color: $white;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-shadow: 1px 1px $gray;
}

.wrapper-header {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: image-url('agreements/skybg.jpeg'), -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0, #e4e4e4 100%);
  background: image-url('agreements/skybg.jpeg'), -moz-linear-gradient(0deg, rgba(255,255,255,1) 0, #e4e4e4 100%);
  background: image-url('agreements/skybg.jpeg'), linear-gradient(0deg, rgba(255,255,255,1) 0, #e4e4e4 100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: cover, auto auto;
  background-size: cover, auto auto;
  padding: 50px 0 30px;

}

#sign-for-peace {
  background: $sky-blue;
}

a#event-handler {
  position: fixed;
  right: 0;
  top: 10px;
  z-index: 3;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

footer {
  background: #022B3F;
  color: $white;
  padding-top: 25px;

  p.contact-info {
    color: inherit;
    font-size: .85em;
    margin: 10px 0;
  }

  .categories {
    text-transform: uppercase;

    ul {
      list-style: none;

      li {
        margin: 20px 0;

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  .footer-cc-logo,
  .footer-social-media,
  .contact-info {
    padding: 5px 15px 5px 10px;
  }

  .footer-social-media {
    a {
      display: flex;
      margin-bottom: 20px;
    }
  }

}

.t {
  display: table;
  height: 100%;
  width: 100%;
}

.tc {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.rel {
  position: relative;
}

.wrapper-timeline-titles {
  margin: 30px 0 0;
  text-align: center;

  h2 {
    font-size: 1.5em;
  }

  h1 {
    color: $main-title;
    font-family: 'Roboto';
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.wrapper-timeline {
  background: $white;
}

.fullscreen-bg {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // 16:9
  position: relative;
  z-index: 1;
  .video-background {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}

video {
  height: auto;
  max-width: 1170px;
  width: 100%;
}

.video-agreements {
  background: image-url('agreements/fondovideo.png');
}

.video-title {
  color: $white;
  height: 100px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  z-index: 1000;

  h2, p {
    color: inherit;
    text-shadow: 1px 1px $gray;
  }

}

.video-title-xs {
  text-align: center;
}

// book
.book {
  height: 90%;
  margin: 0 auto;
  padding-left: 15px;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 90%;

  .page,
  .hard {
    height: 100%;

    img {
      height: 100%;
      max-width: 100%;
    }
  }
}

.vertical-align {
  align-items: center;
  display: flex;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.counter-title {
  color: $white;
  font-size: 30px;
  margin: 5px 0 30px;
}

.btn-download-blue,
.btn-download-white {
  display: block;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 265px;
}

.btn-download-blue:hover,
.btn-download-white:hover {
  text-decoration: none;
}


.btn-download-blue {
  background: image-url('agreements/botonazul.png') no-repeat center center;
  color: $white;
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: 1000;
}

.btn-download-white {
  background: image-url('agreements/botonblanco.png') no-repeat center center;
  color: $timeline;
}

.counter {
  padding: 48px 0 20px;

  .label-default {
    background: $white;
  }

  .label {
    color: #4c4c4c;
    border-radius: 4px;
    display: inline-block;
    font-size: 60px;
    font-weight: normal;
    margin: 0 3px;
    padding: 4px 0;
    width: 60px;
  }
}

.form-description {
  text-align: justify;
}

.hidden-state {
  display: none;
}

.peace-space {
  margin: 20px 0 30px;
  h3 {
    color: $dark-blue;
    font-size: 20px;
    margin: 60px 0 20px;
  }
  p {
    color: $white;
    font-size: 18px;
    line-height: 1.4;
    margin: 20px 0;
  }
}

.btn-sign,
.btn-sign:hover {
  background: image-url("agreements/button-sign.png") repeat-x $light-red;
  border: 1px solid #ddd;
  box-shadow: -3px 7px 16px -5px $gray;
  color: $white;
  font-size: 20px;
  margin-top: 30px;
  padding: 15px 30px;
  text-transform: uppercase;
  width: 100%;
}

.header-controls {
  background: none !important;
}

#you-signed {
  display: none;

  h2,
  h3 {
    text-align: center;
  }

  h2 {
    color: $white;
    font-size: 40px;
    margin: 20px 0 30px;
  }

  h3 {
    color: #f0f0f0;
    font-size: 22px;
    line-height: 1.3;
    margin: 10px 0 50px;

    span {
      color: $dark-blue;
      font-size: 26px;
    }
  }

  .sharer {
    margin: 20px auto 70px;
    text-align: center;
  }
}

.logo-image {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

h2.events {
  color: $dark-blue;
  font-size: 36px;
  margin: 30px 0 20px;
  text-align: center;
}

#peace-events {
  background: #f2f2f2;
  padding: 10px 0 40px;
}

.event-list {
  padding: 10px 70px;
}

.event {
  background: $white;
  height: 150px;
  margin: 15px 10px;
  padding: 20px;

  .event-date {
    background: image-url("agreements/event-date.png") no-repeat center center;
    color: #4D547F;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    padding: 25px 10px 15px;
    text-align: center;

    span {
      color: $white;
      font-size: 24px;
    }
  }

  h3 {
    color: $dark-blue;
    font-size: 20px;
    margin: 0 0 10px;
  }
}

.form-control.form-control.error {
  border: 1px solid #AD2723;
}

.error {
  color: #AD2723;
}

.peace-hashtag {
  background: #00B3FF;
  text-align: center;
}

.peace {
  margin-top: 50px;
  vertical-align: middle;
}

.peace-photos {
  margin: 20px 0 40px;
}

#twitter-widget-0 {
  width: 100% !important;
}

@media (max-width: 1024px) {
  .btn-download-blue {
    top: 35%;
  }
}

@media (max-width: 680px) {
  .logo-image {
    margin: 0 auto 20px;
    max-width: 160px;
  }

  .event-list {
    padding: 10px 20px;
  }

  .title-descriptions {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 10px 20px;
  }

  .peace-space {
    h3 {
      font-size: 16px;
      margin: 20px 0;
    }

    p {
      font-size: 16px;
    }
  }

}

@media (max-width: 480px) {

  .video-title-xs {
    h2 {
      font-size: 1.5em;
    }
  }

  .wrapper-timeline-titles{
    h1{
      font-size: 4em;
    }
  }

  .btn-download-white {
    padding: 10px 0;
  }

  .btn-download-blue {
    top: 5%;
  }

  .counter-title {
    font-size: 24px;
  }

  .event-list {
    padding: 10px;
  }

  .event {
    height: auto;
  }

  .title-description {
    font-size: 16px;
    padding: 10px 20px;
  }

  .peace-space {
    h3 {
      font-size: 18px;
      margin: 20px 0;
    }

    p {
      font-size: 16px;
    }
  }

  .counter {
    padding: 48px 0 20px;

    .label-default {
      background: $white;
    }

    .label {
      border-radius: 4px;
      color: #4c4c4c;
      display: inline-block;
      font-size: 40px;
      font-weight: normal;
      margin: 0 3px;
      padding: 4px 0;
      width: 40px;
    }
  }
}
