// bootstrap
@import 'bootstrap-sprockets';
@import 'complaints/bootstrap-vars';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'jquery.tagsinput';
@import 'rails_bootstrap_forms';
@import 'select2';
@import 'select2-bootstrap';

body {
  background: $gray !important;
  color: $placeholder !important;
}

.bg-red {
  background: $red;
  text-align: center;
  border-bottom: 2px solid $header_red_border;
}

.new_case {
  background: $blue_new_case;
  text-align: center;
  color: white;
  font-weight: bolder;
  text-transform:uppercase;
  border-bottom: 2px solid $header_border;
}

.notification {
  background: $blue_notification;
  text-align: center;
  color: white;
  font-weight: bolder;
  border-bottom: 2px solid $header_border;
}

.profile {
  background: $blue_profile;
  text-align: center;
  color: white;
  font-weight: bolder;
  border-bottom: 2px solid $header_border;
}

.form-group {
  input[type="text"], input[type="password"], select, textarea {
    color: $menu !important;
  }
}

.search {
  background: white;
  border-bottom: 2px solid $header_border;
  input {
    width: 100%;
    background: image-url('complaints/find.png') no-repeat 10px center rgba(0,0,0,0) !important;
    border:none !important;
    box-shadow:none !important;
    outline:0px !important;
    -webkit-appearance:none;
    font-size: 26px;
    padding-left: 45px;
    color: $placeholder;
  }
}

.search_b {
  background: image-url('complaints/find_blue.png') no-repeat 10px center transparent;
  color: $menu;
  padding: 20px 0;
  input {
    background: image-url('complaints/find_blue.png') no-repeat 10px center rgba(0,0,0,0) !important;
    color: $menu;
  }
}

a.white {
  color: white !important;
}
a.white:hover {
  color: white !important;
}

.sidebar {
  background: $menu;
  padding-left: 0;
  padding-right: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  li {
    border-bottom: 2px solid $menu_border;
    color: white;
    display: block;
    padding: 25px 0;
    text-align: center;
    img {
      display: block;
      margin: 0 auto 10px;
    }
    a {
      color: white;
    }
    a:hover {
      color: white;
      text-decoration: none;
    }
  }
  li.active {
    background: $menu_active;
    border-bottom: 2px solid $menu_active_border;
  }
}

.sidebar_b {
  background: $menu;
}

.sidebar_b .item {
  color: white;
  padding: 25px 0;
  text-align: center;
  border-right: 2px solid $menu_border;
  min-height: 111px;
  img {
    display: block;
    margin: 0 auto 10px;
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.sidebar_b .item.active {
  background: $menu_active;
  border-right: 2px solid $menu_active_border;
}

#main {
  background: white;
}

h1 {
  background: white;
  color: $placeholder;
  font-size: 24px;
  a {
    color: $gray_url;
  }
  a:hover {
    color: $gray_url;
    text-decoration: none;
  }
}

.content {
  padding: 25px;
}

@media (min-width: 768px) {
  h1 {
    background: $gray;
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 30px;
  }
  #main {
    margin: 20px 30px 0 30px;
    background: white;
  }
}

.control-label {
  color: $menu;
}

.btn-active {
  background: #00b9bd;
  border-color: #009da2;
  padding: 10px 25px;
}

.btn-inactive {
  background: #84c1c6;
  border-color: #63a3a9;
  padding: 12px 25px;
}

.btn-primary-green {
  background: #00bd47;
  border-color: #00a04a;
  padding: 10px 25px;
}
.btn-primary-gray {
  background: #808080;
  border-color: #6d6d6d;
  padding: 10px 25px;
}
.btn-primary-red {
  background: #f63700;
  border-color: #b73b15;
  padding: 10px 25px;
}

.btn-inactive:hover {
  color: white !important;
  text-decoration: none;
}

a.btn-primary-gray {
  display: block;
  text-decoration: none;
}
a.btn-primary-gray:hover {
  text-decoration: none;
}

.btn-active, .btn-inactive, .btn-primary-green, .btn-primary-red, .btn-primary-gray {
  border-width: 0 0 2px 0;
  border-style: solid;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: white !important;
}

.show-item {
  display: block;
  background: image-url("complaints/arrow_normal.png") no-repeat center center;
  height: 100%;
  width: 100%;
}
.show-item:hover {
  background: image-url("complaints/arrow_hover.png") no-repeat center center;
  text-decoration: none;
}

.table {
  thead th {
    text-align: center;
    border-bottom: 2px solid $blue_profile !important;
    color: $blue_profile;
  }
  tbody td {
    padding: 15px 8px !important;
  }
}

span.blue, p.blue {
  color: $menu;
  font-weight: bolder;
}

.field-with-errors {
  .message {
    color: $red;
  }
}

@media (min-width: 768px) {
  .management_section {
    padding: 0 40px;
  }
}

.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}

.managements_area {
  background: #d8e8e8;
  padding: 20px 15px;
}

.management_date {
  background: #00b9bc;
  border-bottom: 2px solid #029da2;
  text-align: center;
  padding: 10px;
  strong {
    font-size: 30px;
    display: block;
    color: #333333;
  }
  small{
    color: white;
    font-weight: bolder;
  }
}

.management_info {
  background: white;
  padding: 10px;
  border-bottom: 2px solid #bfd1d3;
  li {
    overflow: hidden;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.management {
  margin-bottom: 20px;
  a.lnk-success {
    color: #00bd47;
    font-weight: bolder;
  }
  a.lnk-success:hover {
    color: #00bd47;
    text-decoration: none;
  }
  a.lnk-primary {
    color: $menu;
    font-weight: bolder;
  }
  a.lnk-primary:hover {
    color: $menu;
    text-decoration: none;
  }
  a.lnk-danger {
    color: $orange;
    font-weight: bolder;
  }
  a.lnk-danger:hover {
    color: $orange;
    text-decoration: none;
  }
  .actions {
    padding-top: 10px;
  }
}

.orange {
  color: $orange;
}

.gray_widget {
  background: $gray_widget;
  padding: 15px;
  min-height: 260px;

  .borderless td {
    border: none;
  }
}

/* SAME HEIGHT COLUMN */

.inside {
  margin-top: 15px;
  margin-bottom: 15px;
}

.inside-form {
  margin-top: 5px;
  margin-bottom: 5px;
}

.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

.modal-content {
  color: $placeholder;
}

.bordered {
  border-left: 1px dashed $placeholder;
}

.p20 {
  padding: 20px;
}

.mauto {
  margin: 0 auto;
}

.label-as-badge {
    border-radius: 1em;
}

.white {
  color: white;
}

.gray {
  color: $placeholder;
}

a.gray:hover {
  color: $placeholder;
  text-decoration: none;
}

.list-expedients {
  a {
    color: $placeholder !important;
  }
  a:hover {
    color: $placeholder !important;
    text-decoration: none;
  }
}

.lnk-download-asset {
  background: image-url('complaints/bg-document.jpg') 0 0 no-repeat transparent;
  padding-left: 20px;
  font-size: 0.9em;
  font-weight: bolder;
}

.bg-news {
  background: #32727e;
}

.bg-process {
  background: #f53600;
}

.bg-closed {
  background: #00bd47;
}

.bg-news, .bg-process, .bg-closed {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #245157;
  font-size: 24px;
}

.total-title {
  font-size: 24px;
  line-height: 50px;
  padding-left: 10px;
  a {
    color: $placeholder;
  }
  a:hover {
    text-decoration: none;
  }
}

.m0 {
  margin: 0;
}

div#spinner
{
  display: none;
  width:100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align:center;
  margin-left: -50px;
  margin-top: -100px;
  z-index:2;
  overflow: auto;
}
