// bootstrap
@import 'bootstrap-sprockets';
@import 'employments/bootstrap-vars';
@import 'employments/mixins';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// FIXES
a {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: auto;
    text-decoration: none;
  }
}

b,
strong {
  font-weight: bold;
}

.form-control-feedback {
  line-height: 34px;
}

.btn {
  font-size: 13px;
  text-transform: uppercase;

  &.btn-primary {
    @include btn-gradient($brand-primary);
  }
}

/* BEGIN NAVBAR */
.navbar-nav > li > a {
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;

  .fa {
    font-size: 20px;
  }
}

.navbar-brand {
  padding: 26px 15px;
}

/* END NAVBAR */
/* BEGIN HOME MAIN */

#main {
  background: image-url('employments/bg-main.jpg') center center no-repeat;
  background-size: cover;
  padding: 0 0 56px 0;
  text-align: center;

  h1 {
    color: $navbar-inverse-bg;
    margin: 0;
  }

  p {
    padding: 10px 0;
  }

  .counter {
    padding: 68px 0 40px 0;

    .label {
      border-radius: 4px;
      display: inline-block;
      font-size: 70px;
      font-weight: normal;
      margin: 0 3px;
      padding: 4px 0;
      width: 70px;
    }
  }

  .icon {
    color: $navbar-inverse-bg;
    display: inline-block;
    margin: 40px 0 0 0;

    img,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      margin: 0 10px 0 0;
    }

    span {
      font-size: 24px;
      line-height: 26px;
      text-align: left;
    }
  }
}


footer {
  padding-top: 25px;
  background: #022B3F;
  color: white;

  p.contact-info {
    color: inherit;
    font-size: 0.85em;
    margin: 10px 0;
  }

  .categories {
    text-transform: uppercase;

    ul {
      list-style: none;

      li {
        margin: 20px 0;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .footer-cc-logo, .footer-social-media, p.contact-info {
    padding: 5px 15px 5px 10px;
  }

  .footer-social-media {
    margin: 20px 0;

    a {
      margin-right: 20px;
    }
  }
}

#lastjobs{
  padding: 20px 0;
}

.dashed-border{
  border-left: 1px dashed;
}

.job-list{
  .job{
    padding: 10px;
    margin: 10px 0;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
    .job-title{
      color: #3FB3E4;
      font-size: 1.2em;
      padding-bottom: 10px;
    }
  }
}

/* END HOME MAIN */

h2.header-title{
  font-size: 1.5em;
}


.nav > li > a:hover {
  background-color: #777777;
}
