// bootstrap
@import 'bootstrap-sprockets';
@import 'employments/bootstrap-vars';
@import 'employments/mixins';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'jssocials';
@import 'jssocials-theme-flat';
@import 'jquery.steps';
@import 'bootstrap-datepicker.min';

// FIXES
a {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: auto;
    text-decoration: none;
  }
}

b,
strong {
  font-weight: bold;
}

.form-control-feedback {
  line-height: 34px;
}

.btn {
  font-size: 13px;
  text-transform: uppercase;

  &.btn-primary {
    @include btn-gradient($brand-primary);
  }
  &.btn-secondary {
    @include btn-gradient-secondary($brand-secondary);
  }
}

/* BEGIN NAVBAR */
.navbar-nav > li > a {
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;

  .fa {
    font-size: 20px;
  }
}

.navbar-brand {
  padding: 26px 15px;
}

/* END NAVBAR */
/* BEGIN HOME MAIN */

#main {
  background: image-url('employments/bg-main.jpg') center center no-repeat;
  background-size: cover;
  padding: 0 0 56px 0;
  text-align: center;

  h1 {
    color: $navbar-inverse-bg;
    margin: 0;
  }

  p {
    padding: 10px 0;
  }

  .counter {
    padding: 68px 0 40px 0;

    .label {
      border-radius: 4px;
      display: inline-block;
      font-size: 70px;
      font-weight: normal;
      margin: 0 3px;
      padding: 4px 0;
      width: 70px;
    }
  }

  .icon {
    color: $navbar-inverse-bg;
    display: inline-block;
    margin: 40px 0 0 0;

    img,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      margin: 0 10px 0 0;
    }

    span {
      font-size: 24px;
      line-height: 26px;
      text-align: left;
    }
  }
}



footer{
  padding-top: 25px;
  background: #022B3F;
  color: #fff;
  p.contact-info{
    color: inherit;
    font-size: 0.85em;
    margin: 10px 0;
  }
  .categories{
    text-transform: uppercase;
    ul{
      list-style: none;
      li{
        margin: 20px 0;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .footer-cc-logo, .footer-social-media, p.contact-info{
    padding: 5px 15px 5px 10px;
  }
  .footer-social-media{
    a{
      margin-bottom: 20px;
      display: flex;
    }
  }

}

#lastjobs{
  padding: 20px 0;
}

.dashed-border{
  border-left: 1px dashed;
}

.job-list{
  .job{
    padding: 10px;
    margin: 10px 0;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
    .job-title{
      color: #3FB3E4;
      font-size: 1.2em;
      padding-bottom: 10px;
    }
  }
}

/* END HOME MAIN */

h2.header-title{
  font-size: 1.5em;
}

.nav > li > a:hover {
  background-color: #777777;
}


h2.header-title{
  font-size: 1.5em;
}

.line{
  border-bottom: 1px solid;
  display: inline-block;
  float: left;
  height: 18px;
  margin: 0 10px;
  overflow: hidden;
  width: 42%;
}

.clip{
  position: absolute;
  left: 10px;
  top: -15px;
  width: 30px;
  z-index: 9999;
}

.job-detail{
  padding: 10px;
  .job-detail-header{
    margin-bottom: 20px;
  }
}

#wrapper{
  min-height:100%;
}

.side-menu{
  background-color: #EEE;
  height:100%;
  min-height:100%;
  padding: 10px 0;
  ul{
    li{
      padding: 5px 10px;
      list-style: none;
      float: none;
      a, a:hover, a:active, a:focus{
        color: #333;
        background: none;
        img{
          margin-right: 10px;
        }
      }
      a:hover{
        color: #29ABE2;
      }
    }
    li.active-item{
      a{
        color: #29ABE2
      }
    }
  }
}

/* Customize jsSocials */
#shareButtonLabelCount{
  font-size: 12px;
}

.yellow {
  background: #edc620;
  text-align: center;
  font-weight: bolder;
  color: black;
  width: 317px;
  height: 170px;
  display: table-cell;
  vertical-align: middle;
  font-size: 60px;
  padding: 0 10px;
}

.job-detail p {
  margin: 0;
}

.text-centered {
  text-align: center;
}

.progress-job{
  margin: 10px 0 40px;
  .item-progress{
    min-height: 370px;
    background: image-url("employments/bg-step.jpeg") no-repeat center center;
    width: 16.5%;
    float: left;
    text-align: center;
    margin: 20px 0;
    position: relative;
    img{
      margin: 0 auto;
    }
    .view-more{
      width: 90%;
      text-align: center;
      position: absolute;
      bottom: 40px;
    }
    .description-selection-step1, .description-selection-step2, .description-selection-step3, .description-selection-step4, .description-selection-step5, .description-selection-step6{
      margin-top: 80px;
      text-align: center;
      padding: 10px;
      span{
        color: #3C3C3C;
        font-size: 12px;
      }
    }
    .description-selection-step1{
      color: #22B573;
    }
    .description-selection-step2{
      color: #0071BC;
    }
    .description-selection-step3{
      color: #D4145A;
    }
    .description-selection-step4{
      color: #E09721;
    }
    .description-selection-step5{
      color: #29AAE1;
    }
    .description-selection-step6{
      color: #603814;
    }
    &.active {
      background: image-url("employments/bg-step-active.jpeg") no-repeat center center;
    }
  }
}

/* Overwrite navtab */

/*** PANEL DEFAULT ***/
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: black;
}
.nav-tabs > .open > a,
.nav-tabs > .open > a:hover,
.nav-tabs > .open > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: white;
  	background-color: #01b1fa;
  	border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: white;
  background-color: #01b1fa;
  border-color: transparent;
	border-bottom-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid #01b1fa;
}

.tab-content {
  padding: 20px 0;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.p15 {
  padding: 2px 15px;
}

.text-blue {
  color: #28abe1;
}

.text-green {
  color: #3ab54d;
}

.nav-pills>li {
  float: left;
  margin-bottom: 5px;
}

.badge {
  color: #3FB3E4;
  background-color: #f2f2f2;
  font-weight: normal;
}
.badge:hover {
  color: #3FB3E4 !important;
  background-color: #f2f2f2 !important;
}

.badge-selected {
  color: white;
  background-color: #01b1fa;
  font-weight: normal;
}
.badge-selected:hover {
  color: white !important;
  background-color: #01b1fa !important;
}

.well {
  margin: 10px 0 0 0;
}

@media (max-width: 800px) {
  .progress-job{
    .item-progress, .item-progress-active{
      min-height: 360px;
      width: 150px;
      float: left;
    }
    .item-progress-active{
      background: image-url("employments/bg-step-active.jpeg") no-repeat center center;
    }
  }
}

@media (max-width: 768px) {
  .progress-job{
    .item-progress, .item-progress-active{
      min-height: 360px;
      background: image-url("employments/bg-step.jpeg") no-repeat center center;
      width: 120px;
    }
    .item-progress-active{
      background: image-url("employments/bg-step-active.jpeg") no-repeat center center;
    }
  }
  .side-menu{
    ul{
      li{
        float: left;
      }
    }
  }

}

.updated-cv{
  background: #9FE2FF;
  padding: 40px 30px;
  min-height: 100px;
  color: #333;
  margin-bottom: 40px;
  .updated-sheet{
    background: image-url("employments/bg-sheets.jpeg") no-repeat left top #fff;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 50px 15px 20px 40px;
    min-height: 450px;
    h2{
      margin: 30px 0;
      font-size: 26px;
    }
    .clip{
      left: 50px;
    }
    .updated-area{
      background: image-url("employments/bg-sheets-lines.png") no-repeat left center;
      text-align: center;
      padding: 30px 0px 20px;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}

.mtb10 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
