.row
  .col-sx-12.col-sm-12.col-md-12.col-lg-12
    .panel.panel-default
      .panel-heading
        .panel-title.clearfix
          %h4.pull-left
            Reportes
      .panel-body
        %table.table.table-hover.table-striped.data-table
          %thead
            %tr
              %th{:width => "50%"}
                Nombre
          %tbody
            %tr
              %td
                = link_to "Detalle de ahorro por fuente de financiamiento (sin auditar)", savings_by_financial_source_unaudited_admin_paa_reports_path(format: "xls")
            %tr
              %td
                = link_to "Detalle de ahorro por fuente de financiamiento (auditado)", savings_by_financial_source_audited_admin_paa_reports_path(format: "xls")
            %tr
              %td
                = link_to "Ahorros generados por las instituciones del órgano ejecutivo (auditados)", funds_generated_by_the_institutions_of_the_executive_organ_admin_paa_reports_path(format: "xls")

                

